.showcase {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}