@use '@/styles/abstracts/variables' as *;

.card {
  display: flex;
  flex-direction: column;

  padding: $space-4;

  background: var(--surface);

  border: 0.1rem solid var(--surface-border);
  border-radius: $radius-lg;

  transition:
    border-color $transition-fast,
    background-color $transition-fast,
    transform $transition-fast;
}

.card:hover {
  border-color: var(--border-hover);
}