@use '@/styles/abstracts/variables' as *;

.toast {
  display: flex;
  flex-direction: column;
  gap: $space-2;

  width: 100%;
  min-width: 28rem;
  max-width: 40rem;

  padding: $space-4;

  border: 0.1rem solid transparent;
  border-radius: $radius-md;

  background: var(--surface);

  box-shadow: $shadow-md;
}

.title {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

.content {
  font-size: $font-size-sm;
  line-height: $line-height-normal;
}

.info {
  border-color: var(--accent);
}

.success {
  border-color: var(--success);
}

.warning {
  border-color: var(--warning);
}

.danger {
  border-color: var(--danger);
}