@use '@/styles/abstracts/variables' as *;

.group {
  display: flex;
  flex-direction: column;
  gap: $space-3;

  width: 100%;

  margin: 0;
  padding: 0;

  border: 0;
}

.legend {
  color: var(--text);

  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: $space-3;
}

.helperText {
  margin: 0;

  color: var(--text-muted);

  font-size: $font-size-xs;
}

.errorMessage {
  margin: 0;

  color: var(--danger);

  font-size: $font-size-xs;
}