@use '@/styles/abstracts/variables' as *;

.wrapper {
  position: relative;

  display: inline-flex;
}

.tooltip {
  position: absolute;

  inset-inline-start: 50%;
  inset-block-end: calc(100% + $space-2);

  transform: translateX(-50%);

  white-space: nowrap;

  padding-block: $space-2;
  padding-inline: $space-3;

  border-radius: $radius-sm;

  background: var(--text);
  color: var(--bg);

  font-size: $font-size-xs;

  opacity: 0;
  visibility: hidden;

  pointer-events: none;

  transition:
    opacity $transition-fast,
    visibility $transition-fast;
}

.wrapper:hover .tooltip,
.wrapper:focus-within .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip::after {
  content: '';

  position: absolute;

  inset-inline-start: 50%;
  inset-block-start: 100%;

  transform: translateX(-50%);

  border-style: solid;
  border-width: 0.5rem;

  border-color:
    var(--text)
    transparent
    transparent
    transparent;
}