@use '@/styles/abstracts/variables' as *;

.code {
  margin: 0;

  padding: $space-4;

  overflow-x: auto;

  border-radius: $radius-md;

  background: var(--surface-hover);
  color: var(--text);

  font-family: $font-family-mono;
  font-size: $font-size-sm;
}