@use '@/styles/abstracts/variables' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-4;

  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: $space-3;

  align-items: center;
  justify-content: flex-end;
}