.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  align-items: center;
  justify-content: flex-end;
}